@use './app/styles/commonStyles' as *;

.breadcrumbs {

  ol {
    display: flex;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
    }
  }
}

.breadcrumbButton {
  margin: getSize(.5);
  padding: 0;
  border: none;
  background: none;
  border-bottom: 1px solid;
  white-space: nowrap;
}

.breadcrumbLast {
  border-bottom: none;
}
