@use './app/styles/commonStyles' as *;

.tableElementWrapper {
  margin-bottom: $baseSize;
}

.tableElement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: getSize(1.4);
  border: 1px solid $lightMainColor;
  border-radius: getSize(0.3);
}

.infoSection {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: $darkMainColor;

  p {
    margin: 0;
    width: 50%;
    text-align: center;
  }
}

.coloredPart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: getSize(1.4);
  height: getSize(4.4);
  background-color: $activeColor;
  border-radius: getSize(0.3) 0 0 getSize(0.3);

  svg {
    width: getSize(0.3);
    height: getSize(1.6);
    fill: white;
  }
}

.openTable {
  border-bottom: none;
  border-radius: getSize(0.3) getSize(0.3) 0 0;

  .coloredPart {
    border-radius: getSize(0.3) 0 0 0;
  }
}
