@use './app/styles/commonStyles' as *;

.projectHeader {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  align-content:center;

  div {
    display: flex;
    align-items: baseline;
  }

  label {
    margin-right: getSize(1.5);
  }
}
