@use '../../../styles/commonStyles' as *;

.formComponent {
  display: flex;
  flex-direction: column;
  gap: getSize(2.4);
  margin-bottom: getSize(4);
  background-color: $ultraLightBackgroundColor;
}
